:root {
    font-size: 62.5%;
    margin: 0;
}
body {
    font-size: 8rem;
}
.tab {
    padding-left: 10rem;
    max-width: 70%;
}
.zag {
    font-size: 10rem;
    margin-left: 8rem;
    font-family: 'Courier New', Courier, monospace;
}
.shapka {
    max-width: 75%;
    margin: auto;
    text-align: center;
    color: rgb(30, 72, 150);
    font-family: 'Courier New', Courier, monospace;
    font-size: 10rem;
}
.fon {
    background-image: url(Images/Plitka.jpg);
    background-size: cover;
    background-color: aquamarine;
    padding-bottom: 5rem;
}
.navig {
    margin-left: 8rem;
    padding-top: 2rem;
    font-size: 5rem;
}
